.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.nav {
  background-color: #333;
  padding: 24px;
  margin: 0;
}

ul{
  list-style: none;
}

li > a{
  padding: 16px;
  text-decoration: none;
  color: #fff;
}

img{
  display: inline-block;
vertical-align: middle;
max-width: 100%;
height: auto;
border-style: none;
}
